<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<h1>Cars</h1>
    <table>
		<tr>
		    <th>Brand</th>
		    <th>Model</th>
		</tr>  
    	<tr th:each = "car : ${cars}">
    		<td th:text="${car.brand}"></td>
    		<td th:text="${car.model}"></td>
    		<td><a th:href="@{/editCar/{id}(id=${car.id})}">Edit</a></td>
 			<td><a th:href="@{/delete/{id}(id=${car.id})}">Delete</a></td>	
    	</tr>
     </table>
     <a href="/newcar">Add a new car</a><br>
     
     <a href="/main">Back to main page</a>
     
     
</body>
</html>